<!doctype html>
<html>
  <head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>
  let logItem = '<%= logItem %>'
  console.log(logItem)
  </script>
  <script type='text/javascript' src='js/log.js'></script>
  </head>

  <body>
     <%- include('partials/nav') %>
    <div id='status'>
      <h2>A vast Ye Swabs! <%= player %> to yer Battle Station!  </h2>
      <form action='<%= url %>'>
        <input type='submit' value='Begin Turn'>
      </form>
    </div>
    <%- include('partials/board') %>
  </body>
