<!doctype html>
<html>
  <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src='js/drawboard.js'></script>
<script>

  let CarrierCoords = '<%= ships['Carrier'] %>'.split(',');
  let BattleshipCoords = '<%= ships['Battleship'] %>'.split(',');
  let CruiserCoords = '<%= ships['Cruiser'] %>'.split(',');
  let SubmarineCoords = '<%= ships['Submarine'] %>'.split(',');
  let DestroyerCoords = '<%= ships['Destroyer'] %>'.split(',');
  let fleet = [CarrierCoords, BattleshipCoords, CruiserCoords, SubmarineCoords, DestroyerCoords]
</script>
<script type="text/javascript" src='js/battle2.js'></script>
  </head>
  <body>
     <%- include('partials/nav') %>
    <div id='status'>
      <h2>Select a location to fire Player2 </h2>
        <button type='submit' value='fire' form='fire'>Fire!</button>
    </div>
    <%- include('partials/board') %>

  </body>
</html>
