<!doctype html>
<html>
  <head>
  <link rel='stylesheet' type='text/css' href='/css/ship-log.css'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src='js/drawboard.js'></script>
<script type="text/javascript" src='js/ship-list.js'></script>

<script>

  let Carrier = '<%= ships['Carrier'] %>'.split(',');
  let Battleship = '<%= ships['Battleship'] %>'.split(',');
  let Cruiser = '<%= ships['Cruiser'] %>'.split(',');
  let Submarine = '<%= ships['Submarine'] %>'.split(',');
  let Destroyer = '<%= ships['Destroyer'] %>'.split(',');
  let previousTargets = '<%= ships['targets'] %>'.split(',')
  let otherShots = '<%= otherShots %>'.split(',');
  let fleet = [Carrier, Battleship, Cruiser, Submarine, Destroyer]
</script>
<script type="text/javascript" src='js/battle2.js'></script>
  </head>
  <body>
     <%- include('partials/nav') %>
    <div id='status'>
      <h2>Select a location to fire Player2 </h2>
        <button type='submit' value='fire' form='fire'>Fire!</button>
    </div>
    <%- include('partials/board') %>

  </body>
</html>
